@font-face {
  font-family: "lato";
  src: url(../assets/fonts/Lato-Regular.ttf)
}
@font-face {
  font-family: "tintinMaj";
  src: url(../assets/fonts/tintinMAJ.ttf)
}

@font-face {
  font-family: "passifico";
  src: url(../assets/fonts/Pacifico.ttf);
}

@font-face {
  font-family: "raleway";
  src: url(../assets/fonts/Raleway.ttf)
}

@font-face {
  font-family: "anton";
  src: url(../assets/fonts/Anton-Regular.ttf)
}


@font-face {
  font-family: "minecraft";
  src: url(../assets/fonts/minecraft.ttf)
}